body{
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(174, 76, 231));
}

h2{
    font-weight: 800;
    text-align: center;
    font-size: 30px;

}
#login-form-wrap {
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
  
  }

  
#login-form {
    padding: 0 60px;
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }


  label,#forgot{

    float: left;
    

  }
  label,#Not{
    font-weight: 400;
    font-size: 20px;
  }

  a{
      text-decoration: none;
      color:rgb(64, 160, 224)
  }

  #login{
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(174, 76, 231));
    color: white;
    font-size: 20px;
    font-weight: 700;
  }